/*
#333446
#7F8CAA
#B8CFCE
#EAEFEF
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.barraTitulo{
  position: relative;
  top: 75px;
}
h1 {
  color: #333446;
  font-size: 2.9rem;
  font-size: 200%;
  text-align: center;
  padding: 25px 0;
}
h3 {
  text-align: center;
}

.contenido {
  padding: 50px 0;
  max-width: 900px;
  min-height: 450px;
  position: relative;
  top: 50px;
  margin: auto;
}

footer {
  background-color: #333446;
  position: relative;
  color: #EAEFEF;
  padding: 15px;
  margin-top: 50px;
  text-align: center;
}
